<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Games List</title>
</head>
<body>
<div layout:fragment="body">
    <h1>
        Games List
    </h1>

    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Type</th>
            <th>Price</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="game : ${games}">
            <td th:text="${game.id}"></td>
            <td th:text="${game.name}"></td>
            <td th:text="${game.type}"></td>
            <td th:text="${game.price}"></td>

            <td>
                <a class="btn btn-info btn-sm" th:href="@{/game/details/{id}  (id=${game.id})  }">Details</a>
            </td>
            <td>
                <a class="btn btn-warning btn-sm" th:href="@{/game/edit/{id}  (id=${game.id})  }">Edit</a>
            </td>

            <td>
                <a class="btn btn-danger btn-sm" th:href="@{/game/delete/{id}  (id=${game.id})  }">Delete</a>
            </td>
        </tr>
    </table>
</div>

</body>
</html>