<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="body">
    <h1>
        Users List
    </h1>

    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.fullName}"></td>

            <td>
                <a class="btn btn-info btn-sm" th:href="@{/user/details/{id}  (id=${user.id})  }">Details</a>
            </td>
            <td>
                <a class="btn btn-warning btn-sm" th:href="@{/user/edit/{id}  (id=${user.id})  }">Edit</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>